<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
	<section class="container" id="about_alternative">
		<h1><fl>F</fl>requently <fl>A</fl>sked <fl>Q</fl>uestions</h1>
		<h2>How much will it cost to take the class ?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita corrupti dicta vitae earum voluptatem, laboriosam quia similique voluptates sequi, sunt! Error quasi, voluptate saepe ducimus blanditiis dicta tempora! Neque, adipisci. </p>
		<br>
		<h2>What happens if I fail a class ?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quam praesentium incidunt, cum, aut commodi, odio earum est illo error, fugiat obcaecati tenetur assumenda natus maxime? Mollitia voluptates numquam, delectus.</p>
		<br>
		<h2>Will certificate be awarded ? </h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis praesentium atque voluptatibus, quidem repellendus officia illum sequi aspernatur, doloribus ipsam impedit, recusandae rerum. Alias sequi accusamus est nisi, ad libero.</p>
		<br>
		<h2>What is the format of the classes ?</h2>
		<p id="last_elem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora consequatur numquam rerum voluptates, similique praesentium culpa qui quibusdam repudiandae vitae cupiditate nulla iste laborum nemo amet dignissimos tenetur dolorum nisi.</p>
		<br>
	</section>
</main>