<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
	<section class="container" id="about_alternative">
		<h1><fl>P</fl>rivacy <fl>P</fl>olicy</h1>
		<h2>Username and Policy</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid vel provident nemo quidem facilis perferendis! Quod suscipit est cupiditate, et perferendis voluptates possimus quam perspiciatis dolores laborum nisi, veritatis, ad. </p>
		<br>
		<h2>Personal Information</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit provident nisi consequatur sapiente reiciendis voluptatem sint, tenetur omnis non, eaque libero repudiandae, repellendus natus quibusdam rem dolores ducimus corrupti velit. </p>
		<br>
		<h2>Use and Disclosure to third parties</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel voluptate, odit incidunt ratione pariatur debitis, consequatur rerum optio! Sapiente saepe quo odio culpa a amet nulla ullam repudiandae possimus nam? </p>
		<br>
		<h2>Security</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis atque nihil, ipsam cupiditate reiciendis qui quaerat rem hic laudantium ex impedit ipsa accusamus quos, sit obcaecati suscipit dolore. Eaque, fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ex nesciunt in odio. Atque sunt et officia. Expedita earum, mollitia accusamus vitae excepturi in nostrum, veniam fuga qui non tempora.</p>
		<br>
		<h2>Changing Our Privacy Policy</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eum nobis non ipsam facilis at est consequuntur, porro iure tempore. Dolorum nam ratione pariatur illum velit, porro molestias labore magnam. </p>
		<br>
		<h2>Privacy Concerns</h2>
		<p id="last_elem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quis debitis dolore eius pariatur fugiat eum dolorem, enim sint numquam doloribus nostrum ad, laboriosam omnis laborum amet quia excepturi magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aperiam fuga ratione dolorum, quo ex praesentium voluptatum cupiditate qui hic inventore placeat perspiciatis pariatur iusto voluptates alias! Eum, quaerat, nihil.</p>
		<br>
	</section>
</main>