<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
	<section class="container" id="contact-us">
		<h1 style="font-weight:bold;font-family:Century-Gothic;font-size:20px;color:#000000">
			<fl>C</fl>ontact <fl>U</fl>s
		</h1>
		<div id="contact-icon">
			<div class="contact-page-item">
				<img src="/static/images/location.png"/>
                <span class="contact-page-caption"><p>Families First <br> 80 Joseph E. Lowery Blvd, NW
 <br> Atlanta, GA 30314 <br>404-853-2800</p></span>
			</div>
            
            <div class="contact-page-item">
				<img src="/static/images/survey.png"/>
				<span class="contact-page-caption">Survey</span>
			</div>
            
            <div class="contact-page-item">
				<img src="/static/images/donate.jpg"/>
				<span class="contact-page-caption">Donate</span>
			</div>
            
			<div class="contact-page-item">
				<img src="/static/images/twitter.png"/>
				<span class="contact-page-caption">Twitter</span>
			</div>
			<div class="contact-page-item">
				<img src="/static/images/facebook.png" style="border-radius:none;"/>
				<span class="contact-page-caption">Facebook</span>
			</div>
			<div class="contact-page-item">
				<img src="/static/images/instagram.png"/>
				<span class="contact-page-caption">Instagram</span>
			</div>
		</div>
	</section>
</main>
