<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about">
<h1 style="padding-bottom:50px!important;color: #7d1419!important;font-family:HelveticaNeue;font-weight:700;font-size:28px;text-align:left;!important">edX Privacy Policy</h1>
<p style="margin-top:30px;">This Privacy Policy discloses the privacy practices for Families First’s edX Platform. This Privacy Policy applies solely to information collected by this web site. It will notify you of the following:</p>
    
            <p style="margin-left: 5em;">1. What personally identifiable information is collected from you through the web site, how it is used, and with whom it may be shared. </p>
            <p style="margin-left: 5em;">2. What choices are available to you regarding the use of your data.</p>
            <p style="margin-left: 5em;">3. The security procedures in place to protect the misuse of your information.</p>
            <p style="margin-left: 5em;">4. How you can contact us with any complaints regarding this Privacy Policy.</p>
    
<h2>Information Collection, Use, and Sharing</h2>
    
<p style="">Families First is the sole owner of the information collected on this site. We only have access to and/or collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
    
<p style="">We will not share your information with any third party outside of our organization, other than as necessary to fulfill any requests you make.</p>
    
<h2>Security</h2>

<p style="">We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>

<p style="">Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>

<p style="">While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
    
<h2>Updates</h2>

<p style="">Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>

<h3 style="padding-top:20px;font-family:HelveticaNeue;font-weight:600;">If you feel that we are not abiding by this Privacy Policy, you should contact Families First’s Privacy Officer immediately via telephone at 404-853-2852.</h3>
</section>
