<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1 style="font-size: 28px;font-weight: 700;font-family:HelveticaNeue;line-height:24px;color:#7d1419;text-transform:uppercase;text-align:left;top: 56px;padding-top:17px;position:relative;">Frequently Asked Questions</h1>
<h2>What is eLearning?</h2>
<p>To put it simply, eLearning is electronic learning, and it typically includes a combination of electronic media and educational technology. E-learning is computer based and makes use of multimedia sources such as text, audio, animations, images, etc.
It is an intranet or an extranet web-based learning that combines information and communication systems on either a free standing or network based Learning Management System (LMS). E-Learning is synonymous with the use of ICT (information and communication technology) in education. Today, eLearning is used extensively in the education and the corporate worlds.</p>
<h2>What is the edX platform ?</h2>
<p>Open edX is the open-source educational platform developed by edX and its open source partners, including leading institutions.</p>
<h2>How many credits do I have to earn?</h2>
<p>Credits are bases on each employees’ position and program. Please consult your supervisor if you are uncertain about the amount of hours you need to obtain.</p>
<h2>I can’t get a course to load, who do I contact?</h2>
<p>Please send a ticket to Technical Support at technicalsupport@familiesfirst.org</p>
<h2>I’m locked out.  How do I reset my password?</h2>
<p>Please send a ticket to Technical Support at technicalsupport@familiesfirst.org</p>
</section>
