
// fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

@font-face {
    
    font-family: "Arrial-Narrow";
    src: url('../fonts/Arial-Narrow/arial-narrow.ttf') format('truetype');
    src: url('../fonts/Arial-Narrow/arial-narrow.woff') format('woff');
    font-weight:normal;
}

@font-face {
    
    font-family: "Arrial-Narrow";
    src: url('../fonts/Arial-Narrow/arial-narrow-italic.ttf') format('truetype');
    src: url('../fonts/Arial-Narrow/arial-narrow-italic.woff') format('woff');
    font-style:italic;
}

@font-face {
    
    font-family: "Arrial-Narrow";
    src: url('../fonts/Arial-Narrow/arial-narrow-bold.ttf') format('truetype');
    src: url('../fonts/Arial-Narrow/arial-narrow-bold.woff') format('woff');
    font-weight:bold;
}

@font-face {
    
    font-family: "Arrial-Narrow";
    src: url('../fonts/Arial-Narrow/arial-narrow-bold-italic.ttf') format('truetype');
    src: url('../fonts/Arial-Narrow/arial-narrow-bold-italic.woff') format('woff');
    font-style:italic;
    font-weight:bold;
}

@font-face {
    
    font-family: "Century-Gothic";
    src: url('../fonts/Century-Gothic/century-gothic.ttf') format('truetype');
    src: url('../fonts/Century-Gothic/century-gothic.woff') format('woff');
    font-weight:normal;
}

@font-face {
    
    font-family: "Century-Gothic";
    src: url('../fonts/Century-Gothic/century-gothic-italic.ttf') format('truetype');
    src: url('../fonts/Century-Gothic/century-gothic-italic.woff') format('woff');
    font-style:italic;
}

@font-face {
    
    font-family: "Century-Gothic";
    src: url('../fonts/Century-Gothic/century-gothic-bold.ttf') format('truetype');
    src: url('../fonts/Century-Gothic/century-gothic-bold.woff') format('woff');
    font-weight:bold;
}

@font-face {
    
    font-family: "Century-Gothic";
    src: url('../fonts/Century-Gothic/century-gothic-bold-italic.ttf') format('truetype');
    src: url('../fonts/Century-Gothic/century-gothic-bold-italic.woff') format('woff');
    font-style:italic;
    font-weight:bold;
}

//-----------------

//  Color variables (from Stanford palette unless noted)
//-----------------


//Main Color Variables
$main-color: #f7691f;
$dark-color: #ea281f; //Link Color
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #7d1419;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
$secondary: #b5a4b7;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #fbfbfb; //Main BG Color
$white: $gray-1;

$black-80: #585858;

//colors
$color_sea_nymph_80_approx: rgba(121, 151, 151, 0.8);
$white: #ffffff;
$black: #000000;
$black_25: rgba(0, 0, 0, 0.25);
$black_50: rgba(0, 0, 0, 0.5);
$color_falu_red_approx: #7d1419;
$color_tana_approx: #d6d9bb;
$black_12: rgba(0, 0, 0, 0.12);
$black_24: rgba(0, 0, 0, 0.24);
$blue: rgb(241, 190, 72);

//fonts
$font_0: Century-Gothic;
$font_1: Arial-Narrow;

/* Header Colors*/
$header-bg:  $color_sea_nymph_80_approx;
$footer-bg:  $color_sea_nymph_80_approx;

/* Forms*/
$form-bg-color: $white;
$modal-bg-color: #f8f8f8;

// Buttons 
$button-color: $color_falu_red_approx;
$link-color: $color_falu_red_approx;
$link-hover: $main-bg-25;

$action-primary-bg: $color_falu_red_approx;
$action-primary-fg: #ffffff;

$action-primary-focused-bg: $main-bg-25;
$action-primary-focused-fg: #ffffff;
$action-primary-active-bg: $color_falu_red_approx;

$action-primary-disabled-bg: $color_falu_red_approx;
$action-prmary-disabled-fg: $main-bg-25;
    
$button-bg-hover-color: $blue;

/* Course elements*/

$content-wrapper-bg: $white !default;
$course-bg-color: #f2f2f2 !default;
$course-profile-bg: rgb(245,245,245) !default;
$course-header-bg: rgba(255,255,255, 0.93) !default;

//-----------------
// Footer Styling
//-----------------

$white: #ffffff;
$black: #000000;


/*

About Page Styling

*/

i.fa.fa-facebook-official.fa-5x {
    
    font-size: 100px;
    color: #7d1419;
}

i.fa.fa-instagram.fa-5x {
    
    font-size: 100px;
    color: #7d1419;
}

i.fa.fa-twitter-square.fa-5x {
    
    font-size: 100px;
    color: #7d1419;
}

i.fa.fa-heart.fa-5x {
    
    font-size: 100px;
    color: #7d1419;
}

i.fa.fa-sticky-note.fa-5x {
    
    font-size: 100px;
    color: #7d1419;
}

i.fa.fa-map-marker.fa-5x {
    
    font-size: 100px;
    color: #7d1419;
}


/*

Footer Styling

*/

.fa-3x {
    
    margin-top: 10px;
    margin-right: 10px;
}


/*

Header Styling

*/

header.global .user a.user-link div {
    
    text-transform: uppercase;
    font-family: $font_0!important;
    font-weight: bold;
    font-size: 16px;
    
}

/*

Forgot Password

*/

#password-reset {
	padding: 0px 32px;
	max-width: 560px;
}
#login-form, #register-form,#institution_login-form, #hinted-login-form,#password-reset-confirm-form {
	padding-top: 96px;
}
#password-reset-confirm-form {
	margin-left: 25px;
}
#register-form, #password-reset-form{
	max-width: 560px;
	padding-top: 86px!important;
}
#passwordreset-form {
	max-width: 560px;
}
#password-reset > div.section-title.lines > h2 {
	font-size: 28px;
	line-height: 32px;
	font-family: $font_0;
	color: #7d1419;
	font-weight: 700;
	text-transform: uppercase;
	fl {
		font-size: 32px!important;
	}
}
#password-reset > p, #new_password_help_text {
	font-size: 18px!important;
	line-height: 24px;
	padding: 30px 0px 0px 0px;
	max-width: 350px;
	margin: 0 auto;
	padding: 5px 0px;
	margin-top: 45px;
}
#password-reset > div.form-field.email-email {
	max-width: 350px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

#password-reset > button  {
	max-width: 350px;
	margin: 0px 70px;
	margin-bottom: 48px;
}

#register > div.form-field.email-email, #register > div.form-field.text-name, #register > div.form-field.text-username, #register > div.form-field.password-password,#register > div.form-field.checkbox-honor_code,#register > button {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 24px;
	max-width: 350px;
	margin: 0 auto;
	label {
		padding-top: 10px;
		margin-bottom:0px;
	}
}

#register > button {
	margin-top: 36px;
	margin-left: 80px;
}

#register > div.form-field.checkbox-honor_code {
  font-size:16px;
  label {
	padding-top: 0px!important;
  }
}
.login-register .form-field .tip, .financial-assistance-wrapper .financial-assistance-form .form-field .tip {
	font-size:12px;
	font-family: $font_0;
	font-weight: 400;
}
#register-name-desc,#register-username-desc,#register > div.form-field.checkbox-honor_code {
  font-size:12px;
  font-family: $font_0;
  font-weight: 400;
}
#register > div.form-field.checkbox-honor_code > label {
  font-size:16px;
}

#register > div.section-title.lines > h2 > span {
  top: 10px;
}
#register > div.section-title.lines:after {
  top:58px!important;
}

#register > div.form-field.email-email
{
  padding-top:22px
}


#register-form > div, #login-form > div:nth-child(2) > div.status.submission-error, #password-reset-form > div,#login-form > div:nth-child(2) > div.js-reset-success.status.submission-success {
	background-color: inherit;
	box-shadow: none;
	margin-top: -75px;
	margin-bottom:32px!important;
	max-width: 560px;
	font-size: 18px;
	h4 {
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		color: rgba(121, 151, 151, 0.8);
		// padding-bottom:18px;
	}
	ul {
		padding-top: 20px;
		li {
			font-size: 18px;
			list-style:none;
			margin-left: 0px;
		}
	}
}

#login-form > div:nth-child(2) > div.status.submission-error,#login-form > div:nth-child(2) > div.js-reset-success.status.submission-success {
	margin-left: 25px;
}

#register-form > div {
	margin-top: -86px;
}

.login-register .submission-success, .financial-assistance-wrapper .financial-assistance-form .submission-success {
	box-shadow: none!important;
	border-bottom: 3px solid #d6d9bb!important;
	background: inherit!important;
}

#login-form > div:nth-child(2) > div.js-reset-success.status.submission-success > h4,#password-reset-complete > div > h4 {
	color: #d6d9bb!important;
	padding-bottom: 18px;
}

#new_password_help_text {
	margin: 0 auto;
	margin-top: 45px;
	margin-bottom: 4px;
	color:#4A4A4A;
	font-size:18px;
	line-height:24px;

}
#passwordreset-form > div.form-field.new_password1-new_password1,#passwordreset-form > div.form-field.new_password2-new_password2 {
	max-width: 350px;
	margin: 0 auto;
}

#password-reset-complete {
	max-width: 560px;
	padding-bottom: 100px;
	padding: 0px 25px;
	margin-left: 25px;
}

#passwordreset-form>div.section-title.lines>h2>span {
	top:8px!important;
}
#passwordreset-form > button {
	max-width: 350px;
	margin-top: 43px;
	margin-bottom: 28px;
	margin-left: 80px;
}
#password-reset-email {
  border-radius:5px;
}

.wrapper-account-settings .wrapper-header .account-nav .account-nav-item button.active {
	border-bottom: 3px solid #7d1419!important;
}
.wrapper-account-settings .wrapper-header .account-nav .account-nav-item button:hover, .wrapper-account-settings .wrapper-header .account-nav .account-nav-item button:focus {
	text-decoration: none;
	border-bottom: 3px solid #7d1419!important;
}

.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
    font-size: 18px;
    font-family: $font_1;
    width: 100%;
    border: 1px solid #7d1419!important;
    color: #7d1419!important;
    padding: 11px 14px;
    line-height: normal;
    &:hover {
	color: #ffffff!important;
    }
    &:active {
	color: #ffffff!important;
    }
}

.login-register .form-field input, .financial-assistance-wrapper .financial-assistance-form .form-field input {
	border-radius: 5px!important;
}
.login-register .form-field input, .financial-assistance-wrapper .financial-assistance-form .form-field input, .login-register .form-field select, .financial-assistance-wrapper .financial-assistance-form .form-field select, .login-register .form-field textarea, .financial-assistance-wrapper .financial-assistance-form .form-field textarea {
	outline: none!important;
}


/*

Login pages styling

*/

.login-register .section-title {
    
    margin-top: 100px!important;
}


.login-register .nav-btn {
    
    background-color: #7d1419!important;
    text-transform: uppercase!important;
    color: #ffffff!important;
    font-weight: 700!important;
    border: none!important;
    
    &:hover {
        
        background-color: $main-bg-25;
    }
}

.login-register .section-title h2 {
    
    color: inherit!important;
}


.login-register .section-title.lines .text {
    
    color: #7d1419;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

#login {
    
    padding-bottom: 50px!important;
}

#login-and-registration-container {
    
    padding-bottom: 50px!important;
}

#login, #register-form, #password-reset-form {
	margin: 0 auto;
}

#login, #password-reset,#register,#passwordreset-form {
	border-bottom: 3px solid #7d1419;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24),0px 4px 2px 0px rgba(0,0,0,0.12);
	  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24),0px 4px 2px 0px rgba(0,0,0,0.12);
	  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24), 0px 4px 2px 0px rgba(0,0,0,0.12);
}
#login-and-registration-container {
	background-color: #F8F8F8!important;
}
#password-reset > div.section-title.lines > h2 > span {
	top: 8px!important;
}

#login > div.section-title.lines:after {
  top: 50px!important;
}

.login-register .section-title.lines:after, .financial-assistance-wrapper .financial-assistance-form .section-title.lines:after, {
	position: absolute;
	left: 0;
	top: 56px!important;
	width: 100%;
	height: 1px;
	background: #7d1419!important;
	content: '';
	z-index: 5;
}

.login-heading,#register > div.section-title.lines > h2 > span, #passwordreset-form > div.section-title.lines > h2 > span {
	font-size: 28px;
	line-height: 32px;
	font-family: $font_0;
	color: #7d1419;
	font-weight: 700;
	text-transform: uppercase;
	fl {
		font-size: 32px!important;
	}
}
#login {
	padding: 0px 105px;
	max-width: 560px;
}
#login > div.section-title.lines {
	margin: 28px -72px 0px -72px;
}

#login > div.form-field.email-email > label {
	font-size: 18px!important;
	padding-top: 40px;
	font-family: $font_1;
	line-height: 24px;
	color: #4A4A4A!important;
}
#login > div.form-field.password-password {
	margin-top: -32px!important;
}

#login > div.form-field.password-password > label {
	padding-top: 22px;
	font-size: 18px;
}

#login-email,#login-password,#new_password1,#new_password2 {
	font-size: 18px;
	font-family: $font_0;
	border-radius: 5px;
	color: #4A4A4A;
}
textarea:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus {
	border-color: #7d1419!important;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 #7d1419,inset 0 0 4px 0 rgba(0,0,0,0.15)!important;
}

#login > div.form-field.password-password > a {
	color: #7d1419;
	font-family: $font_1;
	font-size: 18px;
}
#login-remember {
	width: 24px;
	height: 24px;
}
#login > div.form-field.checkbox-remember > label {
	font-size: 16px;
	font-family: $font_1;
	border-radius: 5px;
	color: #4A4A4A;
}

.login-register-link {
	font-size: 16px;
	font-family: $font_1;
	font-weight: 400;
	padding: 32px 0px 52px;
}
#login > div.form-field.checkbox-remember {
	margin-top: -35px!important;
	float: left!important;
	width: 60%;
}
#login > div.form-field.password-password > a {
	font-size: 16px;
	float:right;
}
#login > button {
	margin-top: 20px;
}
#register>div.form-field.email-email label, #register>div.form-field.text-name label, #register>div.form-field.text-username label, #register>div.form-field.password-password label, #passwordreset-form > div.form-field.new_password1-new_password1 > label,#passwordreset-form > div.form-field.new_password2-new_password2 > label {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

#login-form > div.toggle-form > button , #login > button, #password-reset > button, #register > button,#passwordreset-form > button, #u-field-link-password > button {
	text-decoration: none!important;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	color: #ffffff!important;
	background-color: #7d1419!important;
	padding: 8px 11px;
	font-family: $font_0;
	font-size: 18px!important;
	font-weight: 700!important;
	border-radius:2.5px!important;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24),0px 4px 2px 0px rgba(0,0,0,0.12);
	  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24),0px 4px 2px 0px rgba(0,0,0,0.12);
	  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24), 0px 4px 2px 0px rgba(0,0,0,0.12);
	/* height: 40px;*/
	/* width: 120px;*/
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	/* letter-spacing: 1.01px;*/
	&:hover {
	background-color: $main-bg-25!important;
	color: #ffffff!important;
	}
	&:active {
	background-color: $main-bg-25!important;
	color: #ffffff!important;
	}
	&:visited {
	color: #ffffff!important;
	}
}
#login-form > div.toggle-form > button , #login > button, #password-reset > button {
	padding: 4px 11px;
}

/*

About page styling

*/

nav#about-menu{
    
    font-weight: bold;
    font-size: 16px;
    
}

a.about {
    
    font-family: $font_0!important;
    text-transform: uppercase!important;
    font-style: inherit!important;
    
}

a.careers {
    
    font-family: $font_0!important;
    text-transform: uppercase!important;
    font-style: inherit!important;
    
}

a.contact {
    
    font-family: $font_0!important;
    text-transform: uppercase!important;
    font-style: inherit!important;
    
}

.container.about .vision.message h2{
    
    font-size: 22px!important;
    font-weight: bold!important;
    font-family: $font_0!important;
    color: rgba(121, 151, 151, 0.8)!important;
}

/*

FAQ page

*/

section.container.about {
    max-width: 760px;
    
    h1{
        font-size: 28px;
		font-weight: 700;
		font-family: $font_0;
		line-height: 24px;
		color: rgba(121, 151, 151, 0.8);
		text-transform: uppercase;
		text-align: center;
		top: 56px;
		padding-top: 17px;
		position: relative;
		fl {
			font-size: 32px;
		}
    }
    h2 {
		font-family: $font_0;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		color: #4A4A4A;
		text-transform: none;
		text-align: left;
		margin-top: 98px;
	}
	p {
		font-family: $font_1;
		font-size: 18px;
		font-weight: 400;
		line-height: 32px;
		color: #4A4A4A;
		text-align: left;

		&:after{
			display: block;
			color: #7d1419;
			//background-color: #7d1419;
			height: 1px;
			position: relative;
			top: 54px;
			bottom: 0px;
			margin: 0 auto;
			width: 65.8%;
			z-index: 1;
			content: "";
		}
	}

	#last_elem {
		padding-bottom: 80px;
	}
	#last_elem:after {
		display:none!important;
	}
    
    
}

/*

TOS

*/

input.print {
    
    margin-bottom: 30px;
    margin-top: 30px;
}

static-container{
    
    text-align: center;
}



/*

Contact-us

*/


#contact-us {
	max-width: 760px;
	h1 {
		font-size: 28px;
		font-weight: 700;
		font-family: $font_0;
		line-height: 24px;
		color: rgba(121, 151, 151, 0.8);
		text-transform: uppercase;
		text-align: left;
		top: 56px;
		padding-top: 17px;
		padding-bottom: 120px;
		position: relative;
		fl {
			font-size: 32px;
		}
	}
	img {
		height: 104px;
		width: 104px;
		border-radius: 100px;
	}
	#contact-icon {
		position: relative;
		margin: 0 auto;
		margin-left: 18px;
	}
	.contact-page-item {
		vertical-align: top;
		display: inline-block;
		text-align: center;
		width: 130px;
		margin-left: 83px;
	}
	.contact-page-caption {
		display: block;
		color: #4A4A4A;
		font-size: 18px;
		font-weight: 400;
		font-family: $font_1;
		line-height: 24px;
		width: 250px;
		text-align: center;
		margin-left: -55px;
		padding-top: 28px;
		padding-bottom: 80px;
	}
}


/*

Course experience styling 

*/

header.global.slim h1.logo img {
    
    height: 60px!important;
}

body.discussion .course-tabs .right .new-post-btn {
    
    background-color: #7d1419!important;
    background-image: none!important;
    border: none!important;
    
    a:hover {
        color: $main-bg-25;
    }
}


.view-profile .profile-self .wrapper-profile-field-account-privacy {
    
    background-color: #d6d9bb!important;
}

body.view-in-course .container {
    
    padding: 0px!important;
    padding-bottom: 70px!important;
    padding-top: 70px!important;
}

.wrapper-course-material ol.course-tabs li {
    
    background-color: #7d1419;
    border-radius: 3px;
}

body.view-in-course .wrapper-preview-menu {
    
    background-color: #d6d9bb;
}

.wrapper-course-material ol.course-tabs li {
    
    a {
        color: #ffffff!important; 
    }
    
    
}



#global-navigation .content-wrapper .wrapper-profile .profile profile-self {
    
    padding-bottom: 50px!important;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
    
    background-image: none !important;
    background-color: #7d1419!important;
}

.view-profile .wrapper-profile-section-one {
    
    padding-bottom: 30px!important;
}

.view-profile .wrapper-profile {
    
    padding-bottom: 50px!important;
}


/*

Course list styling 

*/

.courses-container .courses-listing-item {
    
    margin-bottom: 100px!important;
    margin-right: 100px!important;
    width: 250px!important;
    height: 400px!important;
    box-sizing: border-box;
    background-color: #ffffff!important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24)!important;
}

// just to disable the wired alignment 

/*

.home .courses-container .courses .courses-listing .courses-listing-item:nth-child(4n+1) {
    
    clear: none!important;
}

.find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(4n+1) {
    
    clear: none!important;
}

.courses-container .courses{
    float: left;
    display: block;
    width: 100%;

}

.find-courses .courses-container {
    
    padding: 40px 10px 0 10px;
}

.find-courses {
    
    padding-bottom: 0px!important;
}



.highlighted-courses .courses{
    
    padding: 40px 0 15px;
}

.courses-container .courses .course .course-info .course-title {
    
    font-family: HelveticaNeue!important;
    font-size: 22px!important;
    font-weight: bold!important;
    color: #000000!important; 
    
}

.courses-container .courses .course {
    
    border-bottom: 3px solid $color_falu_red_approx!important;
    
}

.courses-container .courses .course .course-info .course-code {
    

    font-family: HelveticaNeue!important;
    font-size: 19px!important;
    font-weight: bold!important;
    color: #7d1419!important;
    
}

.courses-container .courses .course .course-info .course-date {
    
    font-family: HelveticaNeue!important;
    font-size: 19px!important;
    font-weight: 100!important;
    padding: 2px 18px!important;
    color: #000000!important;
    
}


*/

.courses-container .courses {
    
    text-align: center!important;
}

.find-courses .courses-container {
    
    padding: 40px 10px 0 10px;
}

.find-courses {
    
    padding-bottom: 0px!important;
}


.highlighted-courses .courses{
    
    padding: 40px 0 15px;
}

.courses-container .courses {
    
    display: block;
    float: none!important;
    margin: 0 auto;
    width: 1100px !important;
    padding-left: 140px!important;
}


.courses-container .courses .course {
    
    border-bottom: 3px solid $color_falu_red_approx!important;
    
}

.home .courses-container .courses .courses-listing .courses-listing-item:nth-child(4n+1) {
    
    clear: none!important;
}

.find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(4n+1) {
    
    clear: none!important;
}

.courses-container .courses .course .course-info .course-title {
    
    font-family: $font_0!important;
    font-size: 22px!important;
    font-weight: bold!important;
    color: #000000!important; 
    
}

.courses-container .courses .course .course-info .course-code {
    

    font-family: $font_0!important;
    font-size: 19px!important;
    font-weight: bold!important;
    color: #7d1419!important;
    
}

.courses-container .courses .course .course-info .course-date {
    
    font-family: $font_0!important;
    font-size: 19px!important;
    font-weight: 100!important;
    padding: 2px 18px!important;
    color: #000000!important;
    
}


// Custom Modifications to the default sytlesheet
.logo { 
    
    height: 60px;
    width: 160px;
    margin-top: 10px!important;
    }

header.global nav {
    
    padding: 16px 10px 0!important;
}

header.global h1.logo {
    margin: -2px 39px -10px 0!important;
}


header.global {
    
    .nav-global {
        width: 150px;
        height: 40px;
        border-radius: 20px!important;
        text-align: center;
        margin-left: 640px;
        margin-top: 3px!important;
        background-color: #ffffff;
        
        
        li {
            
            a {
                margin-top: 10px;
                padding: 0px!important;
                color: #000000!important;
                background-color: #ffffff!important;
                text-align: center;
                font-size: 18px;
                font-family: $font_0;
                
            }
        }
    }
}


header.global {
    
    .nav-courseware {
        
        width: 150px;
        height: 40px;
        border-radius: 20px!important;
        background-color: #ffffff!important;
        margin-top: 3px!important;
        
        li {
            
            .cta {
                
                background: #ffffff!important;
                color: #000000!important;
                box-shadow: none!important;
                text-align: center!important;
                font-size: 18px!important;
                font-family: $font_0!important;
                font-weight: bold!important;
                text-transform: uppercase;
                margin-left: 18px;
                
            }
        }
    }
}


#global-navigation {
    
    nav.nav-wrapper {
        
        ol.user{
            
            max-height: 40px;
            max-width: 150px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 2px;
            background: #ffffff;
            border-radius: 20px;
        }
        
        
    }
}



.window-wrap {
    
    #global-navigation {
    
    nav.nav-wrapper{
        
        ol.left nav-global authenticated {
            
            padding-right: 10px!important;
            padding-left: 10px!important;
        }
    }
}
    
    
}


#global-navigation {
    
    .nav-wrapper {
        
        
        
        .logo {
            
            a {
                
                color: #ffffff!important;
            }
        }
        
    }
}

    
    