//colors
$color_sea_nymph_80_approx: rgba(121, 151, 151, 0.8);
$white: #ffffff;
$black: #000000;

//fonts
$font_0: HelveticaNeue;

//@extend-elements
//original selectors
////colors$color_sea_nymph_80_approx: rgba(121, 151, 151, 0.8);$white: #ffffff;$black: #000000;$black_25: rgba(0, 0, 0, 0.25);$black_50: rgba(0, 0, 0, 0.5);$color_falu_red_approx: #7d1419;$color_tana_approx: #d6d9bb;$black_12: rgba(0, 0, 0, 0.12);$black_24: rgba(0, 0, 0, 0.24);//fonts$font_0: HelveticaNeue;$font_1: Helvetica;nav.wrapper-header #Rectangle-navbar
%extend_1 {
	width: 100%;
	height: 72px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: $color_sea_nymph_80_approx;
	position: relative;
}


0 {
	@extend %extend_1;
}
1 {
	@extend %extend_1;
}
3 {
	@extend %extend_1;
}
4 {
	@extend %extend_1;
}
6 {
	@extend %extend_1;
}
7 {
	@extend %extend_1;
}
9 {
	@extend %extend_1;
}
10 {
	@extend %extend_1;
}
12 {
	@extend %extend_1;
}
13 {
	@extend %extend_1;
}
#Rectangle-ff {
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	background-color: $white;
	position: absolute;
	left: 110px;
	top: 11px;
	bottom: 11px;
}
#Login-Rectangle {
	width: 150px;
	height: 40px;
	margin: 0;
	padding: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 20px;
	background-color: $white;
	position: absolute;
	right: 280px;
	top: 16px;
}
#SignUp-Rectangle {
	width: 150px;
	height: 40px;
	margin: 0;
	padding: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 20px;
	background-color: $white;
	position: absolute;
	right: 110px;
	top: 16px;
}
.wrapper-footer {
	footer {
		max-width: 100%;
		height: 450px;
		overflow-x: hidden;
		background-color: $color_sea_nymph_80_approx;
		position: relative;
	}
	.footer-title {
		h5 {
			width: 348px;
			height: 28px;
			font-family: $font_0;
			font-size: 24px;
			color: $white;
			position: absolute;
			left: 122px;
			bottom: 328px;
			top: 94px;
		}
		p {
			width: 661px;
			height: 128px;
			font-family: $font_0;
			font-size: 20px;
			font-weight: 100;
			line-height: 1.6;
			color: $black;
			position: absolute;
			left: 119px;
			top: 147px;
			bottom: 175px;
		}
	}
	#icon1 {
		width: 50px;
		height: 50px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		background-color: $white;
		position: absolute;
		left: 120px;
		bottom: 94px;
		top: 306px;
	}
	#icon2 {
		width: 50px;
		height: 50px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		background-color: $white;
		position: absolute;
		left: 210px;
		bottom: 94px;
		top: 306px;
	}
	#icon3 {
		width: 50px;
		height: 50px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		background-color: $white;
		position: absolute;
		left: 300px;
		bottom: 94px;
		top: 306px;
	}
	#icon4 {
		width: 50px;
		height: 50px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		background-color: $white;
		position: absolute;
		left: 390px;
		bottom: 94px;
		top: 306px;
	}
	.footer-text-contact {
		h5 {
			width: 86px;
			height: 28px;
			font-family: $font_0;
			font-size: 24px;
			color: $white;
			position: absolute;
			left: 861px;
			top: 94px;
			bottom: 328px;
		}
		p {
			width: 217px;
			height: 160px;
			font-family: $font_0;
			font-size: 20px;
			font-weight: 100;
			line-height: 1.6;
			color: $black;
			position: absolute;
			left: 861px;
			top: 153px;
			bottom: 137px;
		}
	}
	.footer-right h5 {
		width: 57px;
		height: 28px;
		font-family: $font_0;
		font-size: 24px;
		color: $white;
		position: absolute;
		right: 79px;
		top: 94px;
		bottom: 328px;
	}
}
//colors$color_sea_nymph_80_approx: rgba(121 {
	@extend %extend_1;
}
2.8);$white: #ffffff;$black: #000000;$black_25: rgba(0 {
	@extend %extend_1;
}
5.25);$black_50: rgba(0 {
	@extend %extend_1;
}
8.5);$color_falu_red_approx: #7d1419;$color_tana_approx: #d6d9bb;$black_12: rgba(0 {
	@extend %extend_1;
}
11.12);$black_24: rgba(0 {
	@extend %extend_1;
}
14.24);//fonts$font_0: HelveticaNeue;$font_1: Helvetica;nav.wrapper-header #Rectangle-navbar {
	@extend %extend_1;
}
#Login-Text h4 {
	width: 62px;
	height: 22px;
	margin: 0;
	padding: 0;
	font-family: $font_0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: $black;
	position: absolute;
	left: 44.5px;
	top: 10px;
	bottom: 9px;
}
#SignUp-Text h4 {
	width: 75px;
	height: 22px;
	margin: 0;
	padding: 0;
	font-family: $font_0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: $black;
	position: absolute;
	left: 38px;
	top: 10px;
	bottom: 9px;
}
#Navbar-text h6 {
	width: 146px;
	height: 33px;
	margin: 0;
	padding: 0;
	font-family: $font_0;
	font-size: 24px;
	text-align: center;
	color: $white;
	position: absolute;
	left: 171.5px;
	top: 24px;
	bottom: 21px;
}