<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div class="outer-banner-wrapper">
    
      
      <div class="top_banner" style="width: 100%!important;
                                         height: 500px;
                                         overflow-x: hidden;
                                         background-image: url(/static/images/hero-image.jpg);
                                         position: relative;
                                         background-size:cover;
                                         margin:0px auto;
                                         padding-top: 100px;
                                         padding-bottom: 100px">     
         
              
              <p class="action_text" style="width: 100%;height: 144px;font-family: HelveticaNeue;font-size: 55px;font-weight:bold;line-height:1;text-align: center;color: #ffffff;margin-top:100px">
              
                  <span style=""> PERSONALIZED EDUCATION TO LEARN </span>
                  <br>
                    <span style=""> 
                        ABOUT HOW TO HELP OTHERS
                    </span>
              
              </p>
                                          


          <p class="action_btn" style="width: 280px;
                                    
                                             border-radius: 40px;
                                             background-color: #ffffff;margin:0px auto;padding:20px 10px;
                                             ">
              

                  <a class="top_banner_btn" href="/register" style="
                             font-family: HelveticaNeue;
                             font-size: 23px;
                             font-weight: bold;
                             text-align: center;
                             vertical-align: middle;
                             padding: 10px 0px;
                             color: #000000;
                                margin-left:75px;  
                             ">
                      JOIN NOW    
                  </a>
              
          </p>
    
      </div>
      

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
      % endif
    </div>
      
    <div class="corporate-training">
      
      <div id="rectangle-mainlm" style="width: 100%;
                                        height: 555px;
                                        margin: 0px;
                                        padding: 0px;
                                        position: relative;
                                        background-color: #ffffff"!important>

                                <div id= "corporate">
                                    
                                
                                    <h3 style="
                                               font-family: Helvetica;
                                               font-size: 32px;
                                               font-weight: bold;
                                               text-align: center;
                                               color: #000000;
                                               padding-top:100px;
                                               padding-left:350px;
                                               padding-right:350px">
                                        WHAT IS FAMILIES FIRST CORPORATE TRAINING
                                    </h3>

                                    <p style="margin:0 auto;
                                              padding-left:200px;
                                              padding-right:200px;
                                              padding-top:100px;
                                              padding-bottom:100px;
                                              font-family: HelveticaNeue;
                                              font-size: 20px;
                                              font-weight: 100;
                                              text-align: center;
                                              color: #000000;
                                              ">
                                        Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod 
                                    </p>
                                    
                                </div>
                                    <div id="rectangle-lm" style="width: 280px;
                                                                  padding: 20px 0px;
                                                                  border-radius: 40px;
                                                                  background-color: #7d1419;
                                                                  margin: 0 auto;
                                                                  ">
                                        <div id="text-lm" style="
                                                                 font-family: HelveticaNeue;
                                                                 font-size: 24px;
                                                                 font-weight: bold;
                                                                 text-align: center;
                                                                 color: #ffffff;
                                                                 ">
                                            LEARN MORE
                                        </div>
                                            
                                    </div>
                                </div>
      
      </div>

  </header>
  <section class="courses-container" style="max-width:100%;background-color:#d6d9bb!important">
      
    
    <div class="courses-heading"
         
         style="width: 350px;
            height: 38px;
            margin: 0 auto;
            padding-top: 100px;
            ">
         
         
        <h3 style= "font-family:HelveticaNeue!important;font-weight:bold;color: #000000!important;font-size: 32px!important;">
            FEATURED COURSES
        </h3>
         
        
      </div>
    
    <section class="highlighted-courses" style="max-width:100%!important; height:1352px!important;background-color:#d6d9bb!important;padding-top:0px!important">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
            %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
            
            <div class="custom-btn" style="max-width: 280px;
                padding:20px;
                border-radius: 40px;
                background-color: #7d1419;
                margin-left:388px;
                margin-top:1100px;
                ">
              
                  <a href="/courses" style="
                            font-family: HelveticaNeue!important;
                            font-size: 24px;
                            font-weight: bold;
                            text-align: center;
                            color: #ffffff;
                            padding: 36px;
                            ">MORE COURSES</a>
              
              </div>
        </section>
        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
        % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
          <div class="courses-more">
              
            <a class="courses-more-cta" href="${marketing_link('COURSES')}" > ${_("View all Courses")} </a>
          </div>
        % endif
      % endif

    </section>
  </section>
</section>
    
    
    <section>
        <div id="testimonials-container" style="max-width: 100%;
				                                height: 739px;
				                                margin: 0;
				                                padding: 0;
				                                overflow-x: hidden;
				                                background-color: #ffffff;
				                                position: relative">
            
            <div id="text">

                <h3 style="font-family: Helvetica;
                           font-size: 32px;
                           font-weight: bold;
                           text-align: center;
                           color: #000000;
                           padding-top: 100px;">
                    WHAT OTHERS HAVE SAID
                </h3>

            </div>
            
            
            <div id="testimonials">
            <ul style="list-style-type:none">
            <li class="testimonial-item" style="list-style-type:none">
                <div class="testimonial-subitem-img" style="float:left;width: 105px;
						                      height: 400px;border-radius: 5px;">
                    <img src="static/images/testimonials.jpeg" alt="" style="" />
                </div>
                <div class="testimonial-subitem-para" style="width:195px;height:400px;float:left">
                    <p style="font-family: HelveticaNeue;
                              font-size: 20px;
                              font-weight: 100;
                              color: #000000;
                              padding-bottom:100px">
                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                    </p>
                    
                    <h5 style="font-family: HelveticaNeue;
                               font-size: 20px;
                               font-weight: bold;
                               text-align: center;
                               color: #000000;
                               padding-bottom:20px">
                        Clyde Tate
                    </h5>
                    
                    <h6 style="font-family: HelveticaNeue;
                               font-size: 16px;
                               font-style: italic;
                               text-align: center;
                               color: #000000;">
                        Director of Department
                    </h6>
                    

                </div>
            </li>
                <li class="testimonial-item" style="list-style-type:none">
                <div class="testimonial-subitem-img" style="float:left">
                    <img src="static/images/testimonials.jpeg" alt="" style="width: 105px;
						                      height: 400px;border-radius: 5px;" />
                </div>
                <div class="testimonial-subitem-para" style="width:195px;height:400px;float:left">
                    <p style="font-family: HelveticaNeue;
                              font-size: 20px;
                              font-weight: 100;
                              color: #000000;
                              padding-bottom:100px;
                              ">
                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                    </p>
                    
                    <h5 style="font-family: HelveticaNeue;
                               font-size: 20px;
                               font-weight: bold;
                               text-align: center;
                               color: #000000;
                               padding-bottom:20px">
                        Jeff Andrews
                    </h5>
                    
                    <h6 style="font-family: HelveticaNeue;
                               font-size: 16px;
                               font-style: italic;
                               text-align: center;
                               color: #000000;">
                        Director of Department
                    </h6>
                    

                </div>
            </li>
                <li class="testimonial-item" style="list-style-type:none">
                <div class="testimonial-subitem-img" style="float:left">
                    <img src="static/images/testimonials.jpeg" alt="" style="width: 105px;
						                      height: 400px;border-radius: 5px;" />
                </div>
                <div class="testimonial-subitem-para" style="width:195px;height:400px;float:left">
                    <p style="font-family: HelveticaNeue;
                              font-size: 20px;
                              font-weight: 100;
                              color: $black;
                              padding-bottom:100px">
                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                    </p>
                    
                    <h5 style="font-family: HelveticaNeue;
                               font-size: 20px;
                               font-weight: bold;
                               text-align: center;
                               color: #000000;
                               padding-bottom:20px">
                        Carrie Obrien
                    </h5>
                    
                    <h6 style="font-family: HelveticaNeue;
                               font-size: 16px;
                               font-style: italic;
                               text-align: center;
                               color: $black;">
                        Director of Department
                    </h6>
                    

                </div>
            </li>
                </ul>
            </div>
        </div>
    
    
    </section>
    
    <!-- <section id="testimonials">
                
                
                            <div id="rectangle-65copy">

                                <div id="text">

                                    <h3>
                                        WHAT OTHERS HAVE SAID
                                    </h3>

                                </div>

                                <div id="duplicate-control">
                                <div class="items1">
                                    <div id="rectangle53">
                                    <img src="static/themes/ff-theme/images/testiminials.jpeg" alt="test1-image" style="width:105px;height:500px">
                                    </div>
                                    
                                    <p>
                                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                                    </p>

                                    <h5>
                                        Clyde Tate
                                    </h5>

                                    <h6>
                                        Director of Department
                                    </h6>

                                </div>

                                <div class="items2">
                                    <div id="rectangle53">
                                    <img src="static/themes/ff-theme/images/test-2.jpg" alt="test-image" style="width:105px;height:500px">
                                    </div>
                                    
                                    <p>
                                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                                    </p>

                                    <h5>
                                        Jeff Andrews
                                    </h5>

                                    <h6>
                                        Director of Department
                                    </h6>

                                </div>

                                <div class="items3">
                                    <div id="rectangle53">
                                    <img src="static/themes/ff-theme/images/testiminials.jpeg" alt="test-image" style="width:105px;height:500px">
                                    </div>
                                    
                                    <p>
                                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                                    </p>

                                    <h5>
                                        Carrie Obrien
                                    </h5>

                                    <h6>
                                        Director of Department
                                    </h6>

                                </div>

                                </div>
                            </div>
                   
            
        </section>

-->

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
