<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div class="ff-hero">
    
      
      <div class="Hero-Rectangle" style="width: 100%!important;
                                         height: 500px;
                                         margin: 0px;
                                         padding: 0px!important;
                                         overflow-x: hidden;
                                         background-color: $black_25;
                                         position: relative;">
      
          <img src="static/themes/ff-theme/images/hero-image.jpg" alt="test-image" style="width:100%;height:500px" >        
          <div id ="Hero-Text">
              <h1 style="width: 85%;height: 144px;margin: 0px;padding: 0px;font-family: HelveticaNeue;font-size: 55px;font-weight: bold;text-align: center;color: #ffffff;position: absolute;left: 143px;bottom: 228px;">
                  PERSONALIZED EDUCATION TO LEARN ABOUT HOW TO HELP OTHERS
              </h1>                            
          </div>


          <div id ="Button-Rectangle" style="width: 280px;
                                             height: 60px;
                                             border-radius: 40px;
                                             background-color: #ffffff;
                                             position: absolute;
                                            
                                             left: 502px;
                                             bottom: 62px;">
              <div id ="Button-Text">

                  <h4 style="width: 123px;
                             height: 28px;
                             font-family: HelveticaNeue;
                             font-size: 23px;
                             font-weight: bold;
                             text-align: center;
                             color: #000000;
                             position: relative;
                             left: 79px;
                             right: 78px;
                             bottom: -14px;">
                      JOIN NOW    
                  </h4>
              </div>
          </div>
    
      </div>
      

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
      % endif
    </div>
      
    <div class="corporate-training">
      
      <div id="rectangle-mainlm" style="width: 100%;
                                        height: 555px;
                                        margin: 0px;
                                        padding: 0px;
                                        position: relative;
                                        background-color: #ffffff"!important>

                                <div id= "corporate">
                                    
                                
                                    <h3 style="width: 462.3px;
                                               height: 76px;
                                               font-family: Helvetica;
                                               font-size: 32px;
                                               font-weight: bold;
                                               text-align: center;
                                               color: #000000;
                                               position: absolute;
                                               left: 421px;
                                               bottom: 366px;">
                                        WHAT IS FAMILIES FIRST CORPORATE TRAINING
                                    </h3>

                                    <p style="width: 652px;
                                              height: 69px;
                                              font-family: HelveticaNeue;
                                              font-size: 20px;
                                              font-weight: 100;
                                              text-align: center;
                                              color: #000000;
                                              position: absolute;
                                              left: 326px;
                                              top: 223px;
                                              bottom: 263px;">
                                        Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod 
                                    </p>
                                    
                                </div>
                                    <div id="rectangle-lm" style="width: 280px;
                                                                  height: 60px;

                                                                  border-radius: 40px;
                                                                  background-color: #7d1419;
                                                                  position: absolute;
                                                                  left: 502px;
                                                                  bottom: 137px;">
                                        <div id="text-lm" style="width: 162px;
                                                                 height: 28px;
                                                                 font-family: HelveticaNeue;
                                                                 font-size: 24px;
                                                                 font-weight: bold;
                                                                 text-align: center;
                                                                 color: #ffffff;
                                                                 position: absolute;
                                                                 left: 59.5px;
                                                                 right: 58.5px;
                                                            
                                                                 bottom: 12px;">
                                            LEARN MORE
                                        </div>
                                            
                                    </div>
                                </div>
      
      </div>

  </header>
  <section class="courses-container" style="max-width: 100%!important;
    height: 1352px!important;
    margin: 0px!important;
    padding: 0px!important;
    overflow-x: hidden!important;
    background-color: #d6d9bb!important;
    position: relative;!important">
      
    
    <div class="courses-heading"
         
         style="width: 462.3px;
            height: 38px;
            font-family: Helvetica!important;
            font-size: 32px!important;
            font-weight: bold!important;
            text-align: center;
            color: #000000!important;
            position: absolute;
            left: 399px;
            bottom: 1240px;">
         
         
        <h3>
            FEATURED COURSES
        </h3>
         
        
      </div>
    
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses" style="width: 100%
                                        height: 1002px
                                        margin: 0px
                                        padding: 0px
                                        position: absolute
                                        left: 130px
                                        right: 95px
                                        top: 186px
                                        bottom: 164px">
            <ul class="courses-listing">
            ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
            %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
        % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
          <div class="courses-more">
            <a class="courses-more-cta" href="${marketing_link('COURSES')}" > ${_("View all Courses")} </a>
          </div>
        % endif
      % endif

    </section>
  </section>
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
