
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Families First Landing Page</title>
        
        <!----SEO---->
        
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="canonical" href="">
        
        <!-- If IE use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        
        <!--Styles-->
        
        <link rel="stylesheet" href="css/styles.css" type="text/css">  
    

    </head>
    
    <body>

        
            <nav>
                
                
                            <div id="Rectangle-navbar">
                            
                                
                                <div id="Rectangle-ff">
                                </div>

                                <div id="Navbar-text">
                                    
                                    <h6>
                                        Families First
                                    </h6>
                                </div>

                                <div id="Login-Rectangle">
                                    <div id ="Login-Text">
                                        
                                        
                                        
                                        <h4>
                                            LOGIN
                                        </h4>
                                        
                                        
                                    </div>

                                </div>

                                <div id="SignUp-Rectangle">
                                    <div id ="SignUp-Text">
                                        
                                        
                                        
                                        <h4>
                                            SIGN UP
                                        </h4> 
                                    </div>
                                </div>                     
                            </div>
                        
                    
            </nav>
    
    
        <main>
            <section id ="hero">
                
            
            
                            <div id ="Hero-Rectangle">
                            <img src="static/images/hero-image.jpg" alt="hero-image" style="width:1440px;height:500px">

                                
                                <div id ="Hero-Text">
                                    

                                    <h1>
                                        PERSONALIZED EDUCATION TO LEARN ABOUT HOW TO HELP OTHER
                                    </h1>
                                    

                                </div>


                                <div id ="Button-Rectangle">
                                    <div id ="Button-Text">

                                        <h4>
                                            JOIN NOW    
                                        </h4>
                                    </div>
                                </div>
                            </div>
                    
            </section>
            
            <section id="corporate-training">
                
               
                
                            <div id="rectangle-mainlm">

                                <div id= "corporate">
                                    
                                
                                    <h3>
                                        WHAT IS FAMILIES FIRST CORPORATE TRAINING
                                    </h3>

                                    <p>
                                        Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod 
                                    </p>
                                    
                                </div>
                                    <div id="rectangle-lm">
                                        <div id="text-lm">
                                            LEARN MORE
                                        </div>
                                            
                                    </div>
                                </div>
                                    
                     
            
            
            </section>
            
            
            
            
                
        </main>
        
        
        

        
    </body>
        

 </html>