
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Families First Landing Page</title>
        
        <!----SEO---->
        
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="canonical" href="">
        
        <!-- If IE use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    </head>
    
    
    
   <header id="global-navigation" class="header-global"> 
    
    <nav class="wrapper-header">
	   <div class="row">
           <div class="col-lg-8">
               
            <h1 class="logo">
               <a href="/">
                
                    <img src="static/themes/ff-theme/images/OpenEdXLogo.png" alt="Families First Home Page">
                </a>
               
            </h1>
               
            <ol class="left nav-global">
                <li class="nav-global-04">
                
                    <div class="cta cta-register" href="/register">
                        
                        <div id="SignUp-Rectangle">
                                    <div id ="SignUp-Text">
                                        
                                        
                                        
                                        <h4>
                                            SIGN UP
                                        </h4> 
                                    </div>
                                </div>
                    
                    
                    </div>
                
                </li>   
               
            </ol>
			
            <div id="Rectangle-navbar">
                            
                                
                                <div id="Rectangle-ff">
                                </div>

                                <div id="Navbar-text">
                                    
                                    <h6>
                                        Families First
                                    </h6>
                                </div>

                                <div id="Login-Rectangle">
                                    <div id ="Login-Text">
                                        
                                        
                                        
                                        <h4>
                                            LOGIN
                                        </h4>
                                        
                                        
                                    </div>

                                </div>

                                <div id="SignUp-Rectangle">
                                    <div id ="SignUp-Text">
                                        
                                        
                                        
                                        <h4>
                                            SIGN UP
                                        </h4> 
                                    </div>
                                </div>                     
                            </div>
               
            
           </div>
        </div>

        
    </nav>
       
    
    
    
    </header>

 </html>

