## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<section id="course-fold">
                
                
                            <div id="rectangle-mainlm">
                            
                
                            <div id="rectangle-mainmc">

                                <div id="text">
                                    
                                    
                                    <h3>
                                        FEATURED COURSES
                                    </h3>
                                        
                                </div>

                                <div id="duplicate-control">

                                    <div class="course1">
                                        <div id="rectangle-10">
                                        <img src="static/images/course-2.jpeg" alt="course-image" style="width:250px;height:228px">
                                            <h6>CMS-392</h6>
                                            <h5>Couple and Family Counselling</h5>

                                            <div id="start-date">
                                                <h6>17 Jan 2016</h6>
                                            </div>

                                        </div>
                                        <div id="rectangle-79"></div>
                                        <div id="rectangle-10copy"></div>
                                        
                                    

                                    </div>
                                    
                                    
                                    <div class="course2">
                                        <div id="rectangle-10">
                                        <img src="static/images/course-2.jpeg" alt="course-image" style="width:250px;height:228px">
                                            <h6>CMS-392</h6>
                                            <h5>Introduction to Psychology</h5>
                                            <div id="start-date">
                                                <h6>11 Oct 2016</h6>
                                            </div>
                                        </div>
                                        <div id="rectangle-79"></div>
                                        <div id="rectangle-10copy"></div>

                                    </div>
                                    
                                    
                                    

                                    <div class="course3">
                                        <div id="rectangle-10">
                                        <img src="static/images/course-2.jpeg" alt="course-image" style="width:250px;height:228px">
                                            <h6>CMS-392</h6>
                                            <h5>Trauma, Grief and Loss in Children</h5>
                                            <div id="start-date">
                                                <h6>11 Nov 2016</h6>
                                            </div>

                                        </div>
                                        <div id="rectangle-79"></div>
                                        <div id="rectangle-10copy"></div>
                                    
                                    </div>
                                   
                                    
                                    

                                    <div class="course4">
                                        <div id="rectangle-10">
                                        <img src="static/images/course-2.jpeg" alt="course-image" style="width:250px;height:228px">
                                            <h6>CMS-392</h6>
                                            <h5>Advanced Life Skills</h5>
                                            <div id="start-date">

                                                <h6>05 Oct 2016</h6>
                                            </div>

                                        </div>
                                        <div id="rectangle-79"></div>
                                        <div id="rectangle-10copy"></div>
                                    
                                    </div>
                                   
                                    
                                    

                                    <div class="course5">
                                        <div id="rectangle-10">
                                        <img src="static/images/course-2.jpeg" alt="course-image" style="width:250px;height:228px">
                                            <h6>CMS-392</h6>
                                            <h5>Trauma, Grief and Loss in Children</h5>

                                            <div id="start-date">
                                                <h6>19 Jun 2016</h6>
                                            </div>
                                        </div>
                                        <div id="rectangle-79"></div>
                                        <div id="rectangle-10copy"></div>
                                    </div>
                                    
                                    
                                    

                                    <div class="course6">
                                        <div id="rectangle-10">
                                        <img src="static/images/course-2.jpeg" alt="course-image" style="width:250px;height:228px">
                                            <h6>CMS-392</h6>
                                            <h5>Trauma Counselling</h5>
                                            <div id="start-date">
                                                <h6>01 Jul 2016</h6>
                                            </div>
                                        </div>
                                        <div id="rectangle-79"></div>
                                        <div id="rectangle-10copy"></div>
                                    </div>
                                    
                                    
                                </div>
                                

                                <div id="rectangle-courses">
                                
                                    
                                    <h4>
                                        MORE COURSES
                                    </h4>
                                        

                                </div>
                            </div>
                        </div>
                    
            </section>