## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%!
  from datetime import date
%>
<%namespace name='static' file='/static_content.html'/>
<!--
<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('about')}">${_("About")}</a></li>
          <li><a href="${reverse('about')}#contact">${_("Contact")}</a></li>
          <li><a href="${reverse('tos')}">${_("Terms of Service")}</a></li>
          <li><a href="${reverse('tos')}#privacy">${_("Privacy Policy")}</a></li>
          <li><a href="${reverse('tos')}#honor">${_("Honor Code")}</a></li>
          <li><a href="${reverse('tos')}#copyright">${_("Copyright")}</a></li>
        </ol>
      </nav>
    </div>
    <div class="copyright">
        <p><span>
            ${_('Copyright {year}. All rights reserved.').format(
                year=date.today().year
            )}
        </span></p>
    </div>
  </footer>
</div> -->
<!-- <div class="bottom_banner_one">
  <div class="row">
    <div class="col-md-12 heading" >WHY SEED-MOOC ?</div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut euismod lacus. Nulla semper viverra eros, non tempus nisl. Quisque quis risus nec neque ultrices maximus eget vitae augue. Integer iaculis elit et massa volutpat rhoncus.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut euismod lacus. Nulla semper viverra eros, non tempus nisl.</p>
        <br />
        <p>
          <a href="" class="top_banner_btn">LEARN MORE</a>
        </p>
    </div>
    <div class="col-md-2">
      <img src="${static.url('images/3rd_fold_icons.png')}" alt="">
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <strong>Farming</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut euismod lacus. Nulla semper viverra eros, non tempus nisl.</p>
          <br>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <strong>Boundless</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut euismod lacus. Nulla semper viverra eros, non tempus nisl.</p>
          <br>
        </div>
        <div class="col-md-12">
          <strong>Personalized</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut euismod lacus. Nulla semper viverra eros, non tempus nisl.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="bottom_banner_two">
  <img src="${static.url('images/bottom_banner.png')}" alt="">
  <p><span>BE OUTSTANDING IN THE</span><br /><span>FIELD OF AGRICULTURE</span></p>
  <br>
  <p class="action_btn" ><span><a class="top_banner_btn" href="#JOINNOW"> Join Now </a></span></p>
</div> -->

<!-- Footer -->
<div class="wrapper-footer" style="margin:0 auto">
  <footer style="margin-top:-5px!important;">
    
        
           <div class="footer-title">
           
               <ul>
                    <li style="list-style-type:none; float:left">
                        
                        <ul>
                        
                            <li style="list-style-type:none">
                   
                            <p class="left-title" style="font-family: HelveticaNeue;
                                              font-size: 24px;
                                              color: #ffffff;
                                              padding: 20px 0px 20px 0px;
                                              
			                                 ">
                   
                            <firstletter>F</firstletter>amilies <firstletter>F</firstletter>irst <firstletter>C</firstletter>orporate <firstletter>T</firstletter>raining
                            </p>
                   
                        </li>
                   
                        <li style="list-style-type:none">
                            <p class="left-para" style="max-width: 661px;
                                       font-family: HelveticaNeue;
                                       font-size: 20px;
                                       font-weight: 100;
                                       line-height: 1.6;
                                       color: #000000;
                                       ;
			                 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. In volutpat ante semper diam molestie. In volutpat ante semper diam molestie, et aliquam erat laoreet. </p>
                
                   
                   
                        </li>
                        
                        </ul>
                        
                    
                        
                    
                    </li>
               
                    <li style="list-style-type:none;float:left">
                        
                        <ul>
                            
                            <li style="list-style-type:none">
                        
                            <p style="font-size: 24px!important;color: #ffffff;margin-left: 850px;margin-top: -170px;">
                                <firstletter>C</firstletter>ontact
                            </p>
                        
                       
               
                            </li>
               
                        
                            <li style="list-style-type:none">
                            
                                <p style="font-size: 20px!important;color: #000000;margin-left: 850px;padding-top: 5px;max-width:217px;font-weight:100;line-height: 1.6!important;font-family: HelveticaNeue!important">
                                    Families First Main Office 
                                    Grant Street    
                                    Atlanta, GA 10001
                                    (123) 123-1234

                                </p>
                            
               
                        </li>
                       
                        
                        
                        
                        </ul>
                        
                        
               
                    </li>
           
                </ul>
           
           </div>
        
        
    
        
        
        <div class="footer-right" style="float: right;color: #ffffff;font-family:HelveticaNeue;margin-top: -170px;padding-bottom: 42px;margin-right: 70px; font-size: 24px!important" >
            
            <ul style="padding: 0px 0px;list-style-type: none!important;">
            
            <li>
               <p>
				<firstletter>L</firstletter>inks
                </p> 
                
            </li>
			
            
              <li style="padding-bottom: 40px;padding-top: 15px"><a href="${reverse('about')}" style="color: #000000">${_("About")}</a></li>
              <li><a href="${reverse('tos')}" style="color: #000000">${_("T&#38;C")}</a></li>
            </ul>
            
            </div>
    
      
      <div class="footer-contact">
      
          
            
      
      </div>
      
    <br />

      
    <!--
    <div class="footer-social-media">
    <ul style="list-style: none!important">
      <li style="float: left!important; margin-left: 42px!important; margin-right: 50px!important">
          <a href="#Facebook"><img src="static/images/facebook.png"  height="30" width="30" alt="Families-First"></a>
      </li>
      <li style="float: left!important; margin-right: 50px!important">
          <a href="#Twitter"><img src="static/images/twitter.png"   height="30" width="30" alt="Families-First"></a>
      </li>
      <li style="float: left!important; margin-right: 50px!important">
          <a href="#Instagram"><img src="static/images/instagram.png" height="30" width="30" alt="Families-First"></a>
      </li>
      <li>
        <a href="#EmailContact"><img src="static/images/email.png" height="30" width="30" alt="Families-First"></a>
      </li>
    </ul>
    </div>

 -->
    
  
    <br />
<!--     <div class="copyright">
        <p><span>
            ${_('Copyright {year}. All rights reserved.').format(
                year=date.today().year
            )}
        </span></p>
    </div> -->
  </footer>
</div>
