## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name ='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer style="margin-top:5px!important;">
      
      <div class="row">
        
        <div class="col-md-2 col-lg-2" style="margin-left:-30px"></div>
        
        <div class="col-md-6 col-lg-6">
        
            <div class="footer-title">
                <h5>
                    Families First Corporate Training
                </h5>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. In volutpat ante semper diam molestie. In volutpat ante semper diam molestie, et aliquam erat laoreet.
                </p>
            </div>
            
            
        </div>
          
        <div id="icon1"></div>
        <div id="icon2"></div>
        <div id="icon3"></div>
        <div id="icon4"></div>
          
        <div class="footer-text-contact">
            <h5>
                Contact
            </h5>

            <p>
                Families First Main Office 
                Grant Street
                Atlanta, GA 10001
                (123)123-1234
            </p>

        </div>
          
        <p></p>
        
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-md-3 col-lg-3">
            
            <div class="footer-right">
                <h5>Links</h5>
                
                <ul>
                 
                   
                  
                </ul>
              
                

            </div>
        </div>
          
        <br/>
      </div>
      
      
      
      
  </footer>
</div>

    
    
<!--  
      
      <section id="testimonials">
                
                
                            <div id="rectangle-65copy">

                                <div id="text">

                                    <h3>
                                        WHAT OTHERS HAVE SAID
                                    </h3>

                                </div>

                                <div id="duplicate-control">
                                <div class="items1">
                                    <div id="rectangle53">
                                    <img src="static/images/testiminials.jpeg" alt="test1-image" style="width:105px;height:500px">
                                    </div>
                                    
                                    <p>
                                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                                    </p>

                                    <h5>
                                        Clyde Tate
                                    </h5>

                                    <h6>
                                        Director of Department
                                    </h6>

                                </div>

                                <div class="items2">
                                    <div id="rectangle53">
                                    <img src="static/images/test-2.jpg" alt="test-image" style="width:105px;height:500px">
                                    </div>
                                    
                                    <p>
                                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                                    </p>

                                    <h5>
                                        Jeff Andrews
                                    </h5>

                                    <h6>
                                        Director of Department
                                    </h6>

                                </div>

                                <div class="items3">
                                    <div id="rectangle53">
                                    <img src="static/images/testiminials.jpeg" alt="test-image" style="width:105px;height:500px">
                                    </div>
                                    
                                    <p>
                                        Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulput. Mauris accumsan eros eget libero posuere vulput.
                                    </p>

                                    <h5>
                                        Carrie Obrien
                                    </h5>

                                    <h6>
                                        Director of Department
                                    </h6>

                                </div>

                                </div>
                            </div>
                   
            
        </section> -->

<!--
<footer>
            
            
            <section id="footer">
            
                
               
                            <div id="rectangle-footer">

                                <div id="icon1"></div>
                                <div id="icon2"></div>
                                <div id="icon3"></div>
                                <div id="icon4"></div>


                                <div class="Texts1">
                                    <h5>
                                        Families First Corporate Training
                                    </h5>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. In volutpat ante semper diam molestie. In volutpat ante semper diam molestie, et aliquam erat laoreet. 
                                    </p>

                                </div>

                                <div class="Texts2">
                                    <h5>
                                        Contact
                                    </h5>

                                    <p>
                                        Families First Main Office 
                                        Grant Street
                                        Atlanta, GA 10001
                                        (123)123-1234
                                    </p>

                                </div>

                                <div class="Texts3">
                                    <h5>Links</h5>
                                </div>

                                <div class="Texts4">
                                    <h5>About</h5>
                                </div>

                                <div class="Texts5">
                                    <h5>Privacy</h5>
                                </div>   

                                <div class="Texts6">
                                    <h5>T&#38;C</h5>
                                </div>

                                <div class="Texts7">
                                    <h5>FAQs</h5>
                                </div>


                            </div>
                    
                
            </section>
            
        </footer>
-->
