## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name ='static' file='/static_content.html'/>
<%!
  from datetime import date
%>
    


<div class="wrapper-footer">
    
  <footer>
      
      <div class="row">
        
        <div class="col-md-2 col-lg-2"></div>
        
        <div class="col-md-6 col-lg-6">
        
            <div class="footer-title">
                <h5>
                    Families First Corporate Training
                </h5>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. In volutpat ante semper diam molestie. In volutpat ante semper diam molestie, et aliquam erat laoreet.
                </p>
            </div>
            
            
        </div>
          
        <div id="icon1"></div>
        <div id="icon2"></div>
        <div id="icon3"></div>
        <div id="icon4"></div>
          
        <div class="footer-text-contact">
            <h5>
                Contact
            </h5>

            <p>
                Families First Main Office 
                Grant Street
                Atlanta, GA 10001
                (123)123-1234
            </p>

        </div>
          
        <p></p>
        
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-md-3 col-lg-3">
            
            <div class="footer-right" style="width: 57px;    
                                             height: 28px;
                                             font-family: HelveticaNeue!important;
                                             font-size: 24px!important;
                                             ">
                
                <div class=text5 style="color: #ffffff!important;
                                        position: absolute!important;
                                        right: 79px!important;
                                        top: 100px!important;">
                    <span>Links</span>
                </div>
                
                
                <div class=text1 style="color: #000000;
                                        position: absolute;
                                        right: 79px!important;
                                        bottom: 268px!important;">
                    <span href="static_templates/theme-about.html">About</span>
                </div>
                
                <div class=text2 style="color: #000000;
            position: absolute;
            right: 79px!important;
            bottom: 208px;
            ">
                    <span href="static_templates/theme-tos.html">T&#38;C</span>
                </div>
                
                <div class=text3 style="color: #000000;
            position: absolute;
            right: 79px!important;
            bottom: 148px;">
                    <span href="">Privacy</span>
                </div>
                
                <div class=text4 style="color: #000000;
            position: absolute;
            right: 79px!important;
            bottom: 88px!important;">
                    <span>FAQs</span>
                </div>
                

            </div>
        </div>
          
        <br/>
      </div>
      
      
      
      
  </footer>
</div>

    
    

